* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --cyan-primary: #009CA9;
  --cyan-second: #054152;
  --light-primary: #D9D9D9;
}

body {
  background: var(--cyan-primary);
  font-family: 'Roboto', sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img{
  height: 100px;
}

nav {
  display: flex;
  align-items: center;

  background-color: var(--light-primary);
  width: 80rem;
  height: 3.5rem;
  padding: 10px 50px;
  border-radius: 25px;

  font-size: larger;

}

ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}

ul a{
  text-decoration: none;
}

ul img{
  height: 40px;
}

ul div{
  margin-left: 40rem;
  display: flex;
  gap: 1rem;  
}

li {
  color: var(--cyan-second);
  list-style: none;

  display: flex;
  
}

main {
  display: flex;
  justify-content: space-between;
  /* padding-top: 70px; */
  
}

aside {
  margin: auto;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside h1 {
  font-size: 5rem;
}

aside strong {
  font-size: 2.5rem;
  color: var(--cyan-second);
  margin-top: 1rem;
}

aside p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 3rem;
}

aside button {
  background-color: var(--light-primary);
  color: var(--cyan-second);
  width: 260px;
  height: 54px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  font-size: 1.45em;
  font-weight: bold;
}

aside button:hover {
  background-color: var(--cyan-second);
  transition: .3s;
  color: #fff;
}



.imgs img{
  height: 50px;
}

.imgs{
  display: flex;
  gap: 2rem;
  padding-top: 50px;
  padding-left: 20px;
}

article {
  margin: auto;
  display: flex;
  align-items: center;
}
article img{
  height: 700px;
}